@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500,700);

/*Banner*/
#logoImg {
    width: 50px;
    height: 50px;
}

#loginOrSignUpButton {
    border-radius: 15px;
    background: linear-gradient(180deg, #26242E 0%, #2D283D 100%);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.20);
    color: #D1D7E0;
}

#bannerText1 {
    color: #D1D7E0;
    font-family: Roboto;
    font-size: 70px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 10.4px;
}

#bannerText2 {
    color: #D1D7E0;
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.6px;
}

#bannerText3 {
    color: #FFF;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2.12px;
}

#bannerText4 {
    color: #D1D7E0;
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.6px;
}

.rotate-90 {
    transform: rotate(90deg);
}

.aText {
    font-size: 30px;
}

#infoContainerBoxContent {
    background: #D1D7E0;
    box-shadow: 0px -20px 30px 0px rgba(0, 0, 0, 0.15);
}

/*First Container*/
.aboutUsContainer {
    margin-top: 100px;
}

.aboutTopicTxt {
    color: #2D283D;
    color: #2D283D;
    font-family: Smooch Sans;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 6px;
}

.aboutDescriptionTxt {
    color: #2D283D;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    letter-spacing: 1.2px;
}

.aboutDescriptionTxtList {
    color: #2D283D;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.2px;
}

.aboutDescriptionTxtList li {
    margin-bottom: 10px;
}

.aboutDescriptionTxtSocialMediaList li {
    display: inline-block;
    margin-left: 10px;
}

.aboutDescriptionTxtSocialMediaList i {
    font-size: 30px;
}

.btnGradientPurple {
    border-radius: 10px;
    background: linear-gradient(93deg, #802BB1 0%, #323232 100%);
}

.btnGradientBlack {
    border-radius: 10px;
    background: linear-gradient(90deg, #2D283D 0.3%, rgba(0, 148, 255, 0.72) 99.72%);
}

/*thirdContainer*/
.carCarContainer {
    margin-top: 100px;
}

.carCard {
    border-radius: 30px;
    background: #D1D7E0;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.15);
}

.carCarTitle {
    color: #2D283D;
    font-family: Smooch Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.8px;
}

.carCardUlList li h4,
.carCardUlList li h5 {
    display: inline;
}

.carCardUlList {
    list-style-type: none;
}

.carCardUlList h4 {
    color: #2D283D;
    font-family: Smooch Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.32px;
}

.carCardUlList h5 {
    color: #2D283D;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.72px;
}

.carCarToneList {
    margin-top: 3%;
}

.carCarToneList li {
    list-style-type: none;
    display: inline-block;
    margin-right: 10px;
}

.carCarToneList li h4 {
    color: #2D283D;
    font-family: Smooch Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.32px;
}

.carCarMoreDetailsList li img,
.carCarMoreDetailsList li h5 {
    display: inline;
}

.carCarMoreDetailsList li {
    list-style-type: none;
    display: inline-block;
    margin-right: 10px;
}

.carCarMoreDetailsList li h5 {
    color: #2D283D;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.72px;
}

/*fourth container*/
.companyDetailsContainer {
    margin-top: 150px;
    filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.25));
}

.companyDetailsContainerTopic {
    color: #2D283D;
    font-family: Smooch Sans;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 4.8px;
}

.companyDetailsBox {
    background: #D1D7E0;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.15);
}

.companyDetailsBoxDescriptionPurple {
    color: #7A2CA7;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.72px;
}

.companyDetailsBoxDescriptionBlack {
    color: #2D283D;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.72px;
}

.fifthContainer {
    margin-top: 100px;
}

.contactDetailsContainer {
    margin-top: 100px;
    background: #D1D7E0;
}

.contactDetailsContainer h3 {
    color: #2D283D;
    font-family: Roboto;
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.72px;
}

.contactDetailsContainerBox {
    background: #D1D7E0;
    z-index: 10;
    box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.15);
}

/*Footer*/
.footer {
    margin-top: -100px;
}

.footerCompanyName {
    color: #D1D7E0;
    text-align: center;
    font-family: Roboto;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footerDetailsList img,
.footerDetailsList h4 {
    display: inline-block;
    margin-right: 5px;
}

.footerDetailsList li {
    list-style-type: none;
}

.footerDetailsList img {
    width: 5%;
    text-align: center;
}

.footerDetailsList h4 {
    color: #D1D7E0;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 1.2px;
}

.footerDetailsSocialMediaList li {
    list-style-type: none;
    font-size: 30px;
    display: inline-block;
    margin-right: 15px;
}

.input {
    border: 2px solid transparent;
    height: 2.2em;
    padding-left: 0.8em;
    outline: none;
    overflow: hidden;
    background-color: #F3F3F3;
    border-radius: 10px;
    transition: all 0.5s;
}

.input::placeholder {
    color: #999;
}

.carTypeTopic {
    margin-top: 80px;
    color: #26242E;
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.6px;
}

.carTypeDescription {
    color: #26242E;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    letter-spacing: 1px;
}

/*MyAccount*/
.registerForm label {
    color: #4C495D;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    letter-spacing: 0.72px;
}

.myAccountOwnerCard {
    color: #2D283D;
    font-family: Smooch Sans;
    font-size: 70px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 4.2px;
}

.btnGradientRed {
    background: linear-gradient(90deg, #2D283D 0.3%, rgba(215, 69, 69, 0.91) 99.72%);
}

