@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500,700);

.dashboardPanelMainCard {

}

.dashboardPanelIncomeCard {
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25) inset;
}

.dashboardPanelIncomeCardContent h3 {
    color: #000;
    font-family: Roboto;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.5px;
    margin: auto;
}

.dashboardPanelIncomeCardContent h6 {
    color: #000;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.9px;
    padding: 5px;
    background: #C4CAD2;
    border-radius: 10%;
    margin: auto;
}

.dashboardPanelIncomeCardContent h2 {
    color: #2D283D;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2.4px;
    margin: auto;
}

.dashboardPanelIncomeCardContent h4 {
    color: #11b259;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.2px;
    margin: auto;
}

.dashboardPanelIncomeCardContent h5 {
    color: #000;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 1.2px;
}


.dashboardCount {
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.15);
}

.dashboardCountList {
    width: 80%;
    list-style: none;
    margin: auto;
}

.dashboardCountList img {
    width: 10%;
    object-fit: scale-down;
}

.dashboardCountList h6 {
    text-align: right;
    margin: auto;
    color: #26242E;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.8px;
}

.dashboardCountList h5 {
    border-radius: 10%;
    padding: 5px 12px;
    margin-bottom: auto;
    color: #564F6F;
    font-family: Smooch Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.8px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15) inset;
}

.dashboardCountList img,
.dashboardCountList h6,
.dashboardCountList h5 {
    display: inline-block;
}

.dashboardOtherDetailsCount {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15) inset;
}

.dashboardOtherDetailsCountContent img,
.dashboardOtherDetailsCountContent h6,
.dashboardOtherDetailsCountContent h5 {
    display: inline-block;
}

.dashboardOtherDetailsCountContent img {
    object-fit: scale-down;
}

.dashboardOtherDetailsCountContent h6 {
    color: #26242E;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.8px;
    margin: auto;
}

.dashboardOtherDetailsCountContent h5 {
    color: #26242E;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.8px;
    margin: auto;
}

.dashboardOtherDetailsCountContent h4 {
    color: #26242E;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.8px;
}

.input {
    border: 2px solid transparent;
    height: 2.2em;
    padding-left: 0.8em;
    outline: none;
    overflow: hidden;
    background-color: #F3F3F3;
    border-radius: 10px;
    transition: all 0.5s;
}

.Customerform {
    height: 100vh;
    box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.25);
    margin-top: 100px;
}

.carForm {
    height: 116vh;
    box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.25);
    margin-top: 100px;
}

.rentalreuquestform {
    height: 210vh;
    box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.25);
    margin-top: 100px;
}

.paymentsform {
    height: 80vh;
    box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.25);
    margin-top: 100px;
}

.adminaccount {
    border-radius: 60px;
    box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.25);
    background-color: #E8E8E8;
    height: 73vh;
}

.ditverNICDrivingLicenseCarweView {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.10);
}

.driverdetailsform {
    height: 112vh;
    box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.25);
    margin-top: 100px;
}

.driverdetailsformstyle {
    width: 90%;
    height: 160vh;
}



